pefile>=2024.8.26
yara-python>=4.5.0
oletools>=0.60.0
httpx>=0.28.0
python-dotenv>=1.0.1
fastapi>=0.115.0
uvicorn>=0.32.0
python-multipart>=0.0.12
rich>=14.0.0
pyzipper>=0.3.6
scapy>=2.7.0
cicflowmeter>=0.5.0
pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.5.0
xgboost>=2.1.0
joblib>=1.4.0
shap>=0.46.0
